<%- include('partials/headerL') %>
<div class="jumotron centered">
    <div class="container">
        <div class="fas fa-key fa-6x">
            <h1>Secrect</h1>
            <p class="lead">Share your secrets!</p>
            <hr>
            <a href="/register" class="btn btn-light btn-lg">Register</a>
            <a href="/login" class="btn btn-dark btn-lg">Login</a>
            <!--a.btn.btn-light.btn-lg -- это гипер ссылка, но визуальна кнопка-->
        </div>
    </div>


<%- include('partials/footer')%>

